* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}

aside {
  position: fixed;
  width: 200px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00ADEE;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

aside img {
  height: 120px;
  display: block;
  margin: 0 auto;
}

main {
  margin-left: 200px;
}

nav li {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00ADEE;
  margin: 10px auto;
  margin-bottom: 10px;
  width: 80%;
  line-height: 2;
}

nav li a {
  color:#00ADEE;
  font-weight: bold;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}